.btn-block {
  display: inline-block;
  width: 18%;
}
.btn-block + .btn-block {
  margin-top: 0rem;
}

@media (max-width: 768px) {
	.btn-block {
	  width: 100%;
	}
}
.container {
	margin-left: 15px;
	margin-top: 15px;
}